@model CM.Backend.Identity.AuthorizationServer.Response.ResponseMessage

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap" style="margin-top: 70px"></div>
<div class="container">
    <div class="row">
        <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 id="header" class="text-center">Password recovery went wrong...</h2>
                        <p id="resultId">The following error was caused by:</p>
                        <p style="margin-top: 1em"></p>
                        <p>@Model.Message</p>
                        <p style="margin-top: 1em"></p>
                        <p></p>
                        <div class="panel-body" id="resetPasswordForm">
                            <img src="~/images/ErrorImages.png" style="height: 100px; width: 100px" />
                        </div>
                        <div id="divResult">
                            <p id="errorMsg" style="color: #C77966"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div hidden="true" class="text-center" style="padding-bottom: 40px">
                <img style="border-radius: 100px" src="~/images/SquareLogo.png" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">$(document).ready(function() {

        //Hide activityIndicator at load:
        $("#activity").hide();
        $("#divResult").hide();
        $("#succesBox").hide();

        $("#myform").on("submit", function(event) {
            event.preventDefault();

            //Show the activity
            $("#activity").show();
            $("#submissionBtn").hide();
            $("#divResult").hide();
            $("#errorMsg").text("");

            //$("#submissionBtn").enabled(false);
            var url = $(this).attr("action");
            var formData = $(this).serialize();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function(result) {
                    console.log('Data received: ');
                    console.log(result);
                    console.log(result.password);
                    console.log(result.confirmPassword);
                    if (result.succes == true) {
                        $("#resultId").text("Your password has been succesfully changed!");
                        $("#resetPasswordForm").hide();
                        $("#activity").hide();
                        $("#header").text("Succesfully Changed!");
                        $("#succesBox").show();
                        //Segue to new page
                    } else {
                        $("#submissionBtn").show();
                        $("#activity").hide();
                        $("#divResult").show();
                        $("#errorMsg").text(result.errorMessage);
                        $("#password").val('');
                        $("#confirmpassword").val('');
                        //Show error message!
                    }
                }
            })
        });
});</script>
