@model CM.Backend.Identity.AuthorizationServer.RequestModels.ResetPasswordRequestModel


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap" style="margin-top: 70px"></div>
<div class="container">
    <div class="row">
        <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 id="header" class="text-center">Forgot Password?</h2>
                        <p id="resultId">You can reset your password here.</p>
                        <div class="panel-body" id="resetPasswordForm">
                        @using (Html.BeginForm("ChangePassword", "ResetPassword", FormMethod.Post, new { encType = "multipart/form-data", id = "myform", name = "myform" }))
                        {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="password" name="password" placeholder="New password" class="form-control" type="password">
                            </div>
                            <p style="margin-top: 1em"></p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="confirmpassword" name="confirmPassword" placeholder="Confirm new password" class="form-control" type="password">
                            </div>
                        </div>
                        <div id="submissionBtn" class="form-group">
                            <button type="submit" value="process" class="btn btn-success btn-lg btn-block">Reset Password</button>
                        </div>
                        <input type="hidden" class="hide" name="token" id="token" value="@Html.ViewBag.Token">
                        }
                        </div>
                        <div id="succesBox">
                            <img src="~/images/success-icon-10.png" style="height: 100px; width: 100px"/>
                        </div>
                        <div id="activity">
                            <img alt="Changing Password, please wait..." src="@Url.Content("~/images/ajax-loader.gif")"/>
                        </div>
                        <div id="divResult">
                            <p id="errorMsg" style="color: #C77966"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div hidden="true" class="text-center" style="padding-bottom: 40px">
                <img style="border-radius: 100px" src="~/images/SquareLogo.png"/>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        
        //Hide activityIndicator at load:
        $("#activity").hide();
        $("#divResult").hide();
        $("#succesBox").hide();

        $("#myform").on("submit", function(event) {
            event.preventDefault();

            //Show the activity
            $("#activity").show();
            $("#submissionBtn").hide();
            $("#divResult").hide();
            $("#errorMsg").text("");
            
            //$("#submissionBtn").enabled(false);
            var url = $(this).attr("action");
            var formData = $(this).serialize();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (result) {
                    console.log('Data received: ');
                    console.log(result);
                    console.log(result.password);
                    console.log(result.confirmPassword);
                    if (result.succes == true) {
                        $("#resultId").text("Your password has been succesfully changed!");
                        $("#resetPasswordForm").hide();
                        $("#activity").hide();
                        $("#header").text("Succesfully Changed!");
                        $("#succesBox").show();
                        //Segue to new page
                    } else {
                        $("#submissionBtn").show();
                        $("#activity").hide();
                        $("#divResult").show();
                        $("#errorMsg").text(result.errorMessage);
                        $("#password").val('');
                        $("#confirmpassword").val('');
                        //Show error message!
                    } 
                }
            })
        });
    });
</script>

